<form class="" action="/adduser" method="post">
  <input type="text" name="username" value="" placeholder="username">
  <input type="text" name="aadharNo" value="" placeholder="aadharnumber">
  <input type="text" name="image" value="" placeholder="image">
  <input type="text" name="sex" value="" placeholder="sex">
  <button>Submit</button>
</form>
