<form action="/adduser" method="post">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <input type="text" name="name" placeholder="name">
  <textarea name="address" rows="8" cols="80"></textarea>
  <input type="text" name="p_no" placeholder="phone number">
  <input type="text" name="email" placeholder="email">
  <input type="text" name="dob" placeholder="dob">
  <input type="text" name="father" placeholder="Father's Name">
  <button>Submit</button>
</form>
